<div ng-controller="ValueDataTypeController">
    <h5>Value Data Type</h5>
    <table>
        <tbody>
            <tr>
                <td>
                    <label for="dataTypeURI">URI</label>
                </td>
                <td>
                    <input type="url" name="dataTypeURI" ng-model="valueDataType.dataTypeURI"
                        popoverx="URI associated with the DataType"
                        popoverx-title="Data Type URI" popoverx-trigger="mouseenter"
                        popoverx-placement="right"/>

                    <a id="datatypeChoose" data-toggle="modal" href="#chooseResource" ng-click="updateChosenDatatype(valueDataType);" onclick="event.returnValue = false; return false;">
                        <i class="fa fa-bars" style="margin-right: 10px;"></i>
                        {{!valueDataType.dataTypeURI ? "Select Data Type" : "Change Data Type" }}
                    </a>
                    
                    <div class="error" ng-show="propertyForm.dataTypeURI.$dirty && propertyForm.dataTypeURI.$invalid">
                        <small class="error">url is invalid</small>
                    </div>
                    
                </td>
                <td>
                    <label for="dataTypeLabel">Label</label>
                </td>
                <td>
                    <input name="dataTypeLabel" ng-model="valueDataType.dataTypeLabel"
                           popoverx="Preferred, human readable label associated with the DataType"
                           popoverx-title="Data Type Label" popoverx-trigger="mouseenter"
                           popoverx-placement="left"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="dataTypeLabelHint">Label Hint</label>
                </td>
                <td>
                    <input name="dataTypeLabelHint" ng-model="valueDataType.dataTypeLabelHint"
                           popoverx="Short, human readable label primarily for display purposes"
                           popoverx-title="Data Type Hint" popoverx-trigger="mouseenter"
                           popoverx-placement="right"/>
                </td>
                <td>
                    <label for="remark">Remark</label>
                </td>
                <td>
                    <input name="remark" ng-model="valueDataType.remark"
                           popoverx="Comment or guiding statement intended to be presented as supplementary information in user display"
                           popoverx-title="Data Type Remark" popoverx-trigger="mouseenter"
                           popoverx-placement="left"/>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>