RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^getTemplateRefs php/getTemplateRefs.php
    RewriteRule ^updateTemplateRefs php/updateTemplateRefs.php
    RewriteRule ^delete php/delete.php
    RewriteRule ^export php/export.php
    RewriteRule ^getFile/(.*) php/getFile.php?name=$1
    RewriteRule ^get/(.*) php/get.php?filename=$1
    RewriteRule ^get php/get.php
    RewriteRule ^import php/import.php
    RewriteRule ^list/(.*) php/list.php?query=$1
    RewriteRule ^list php/list.php
    RewriteRule ^save php/save.php