RewriteEngine on
RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^getTemplateRefs server/php/getTemplateRefs.php
    RewriteRule ^updateTemplateRefs server/php/updateTemplateRefs.php
    RewriteRule ^delete server/php/delete.php
    RewriteRule ^export server/php/export.php
    RewriteRule ^getFile/(.*) server/php/getFile.php?name=$1
    RewriteRule ^get/(.*) server/php/get.php?filename=$1
    RewriteRule ^get server/php/get.php
    RewriteRule ^import server/php/import.php
    RewriteRule ^list/(.*) server/php/list.php?query=$1
    RewriteRule ^list server/php/list.php
    RewriteRule ^save server/php/save.php